* {
    margin: 0;
    padding: 0;
}


body {
    background-color: #f0edd1;
    font-family: 'Baloo Tamma 2', cursive;
}

h1{
    align-content: center;
    justify-content: center;
    color: #fff;
    text-shadow: #ccc 1px 1px 1px;
    margin: 10px;
}

section {
    background-color: #f8e9c2;
    margin: 10px;
    padding: 10px;
    width: 20vw;
    height: 65vh;
    float: left;
    border-radius: 10px;
    box-shadow: #ccc 1px 2px 1px;
}

section h1 {
    align-content: center;
    justify-content: center;
    color: #816c6c;
    text-shadow: #ccc 1px 1px 1px;
    margin: 10px;

}

section h1:hover {
    color: #fff;
    transition: ease-in-out 0.5s;
}

section span {
    background-color: #dedede;
    padding: 10px 5vw;
    margin-top: 10px;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 10px;
    color: #fff;
    text-shadow: #746e5d 1px 1px 1px;
    font-size: 20px;
    border: #ccc solid 1px;

}

section img {
    margin: 20px;
    width: 15vw;
    height: 20vh;
    opacity: 0.5;
}

section img:hover {
    opacity: 1;
    transition: ease-in-out 1s;
}

a {
    text-decoration: none;
    background-color: #dedede;
    color: #746e5d;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    font-family: 'Baloo Tamma 2', cursive;
}

a:hover {
    background-color: #fff;
    color: #ccc;
    transition: ease-in-out 0.5s;
}

input {
    text-decoration: none;
    background-color: #dedede;
    color: #746e5d;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    font-family: 'Baloo Tamma 2', cursive;
}

#div3 {
    background-color: #dedede;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vw;
    color: #fff;
    text-shadow: #ccc 1px 1px 1px;
}


#img-div {
    width: 100px;
    border-radius: 50px;
}